<a class="collection-tile-wrap"
   href=#
   [routerLink]="'/product/edit/' + model.id">
  <div class="collection-tile-text-line-wrap">
    <p class="collection-tile-text">{{model.uniqueName}}</p>
  </div>
  <table>
    <tr>
      <td rowspan="5" id="thumbnail-cell">
        <img class="product-thumb-img"
             *ngIf="model && model.productImage.imageString"
             [src]="model.productImage.imageString"
             alt="ProductImage">
      </td>
    </tr>
    <tr>
      <td class="tb-key">Calories:&nbsp;</td>
      <td class="tb-value">{{model.macroTotals.calories}}</td>
    </tr>
    <tr>
      <td class="tb-key">Carbs:&nbsp;</td>
      <td class="tb-value">{{model.macroTotals.carbohydrates}}</td>
    </tr>
    <tr>
      <td class="tb-key">Fats:&nbsp;</td>
      <td class="tb-value">{{model.macroTotals.fats}}</td>
    </tr>
    <tr>
      <td class="tb-key">Proteins:&nbsp;</td>
      <td class="tb-value">{{model.macroTotals.proteins}}</td>
    </tr>
  </table>
</a>
