<div id="wrapper">
  <div id="dashboard-container">
    <div id="dashboard-side-area">
      <fw-sidebar-primary></fw-sidebar-primary>
    </div>
    <div id="dashboard-content-area">
      <div id="content-header-area">
        <fw-dashboard-header></fw-dashboard-header>
      </div>
      <div id="content-content-area">
        <!--<div id="content-sidebar">-->
        <!--<fw-sidebar-secondary></fw-sidebar-secondary>-->
        <!--</div>-->
        <div id="content-main">
          <fw-dashboard-window></fw-dashboard-window>
        </div>
      </div>
    </div>
  </div>
</div>
