<div id="collection-item-action-item-container">
  <div id="item-inner">
    <button *ngIf="!model.customAction"
            mat-raised-button color="primary"
            [matTooltip]="model.itemTooltip" matTooltipPosition="below"
            [routerLink]="model.navigationPath">
      <mat-icon *ngIf="!model.actionText">{{model.iconCode}}</mat-icon>
      <span *ngIf="model.actionText">{{model.actionText}}</span>
    </button>
    <button *ngIf="model.customAction"
            mat-raised-button color="primary"
            [matTooltip]="model.itemTooltip" matTooltipPosition="below"
            (click)="model.onCustomActionClick()">
      <mat-icon *ngIf="!model.actionText">{{model.iconCode}}</mat-icon>
      <span *ngIf="model.actionText">{{model.actionText}}</span>
    </button>
  </div>
</div>
