<div id="header-action-item-container">
  <a *ngIf="!model.customAction"
     mat-mini-fab color="accent"
     [matTooltip]="model.itemTooltip" matTooltipPosition="below"
     [routerLink]="model.navigationPath">
    <mat-icon>{{model.iconCode}}
    </mat-icon>
  </a>
  <a *ngIf="model.customAction"
     mat-mini-fab color="accent"
     [matTooltip]="model.itemTooltip" matTooltipPosition="below"
     (click)="model.onCustomActionClick()">
    <mat-icon>{{model.iconCode}}
    </mat-icon>
  </a>
</div>
