<div>
  <div class="form-group-tile">
    <!--Button-->
    <div class="form-group-title">
      <p>
        Label
        <button mat-icon-button
                type="button"
                class="float-right"
                data-toggle="modal" data-target="#labelModal">
          <mat-icon aria-label="Open Nutrition Facts Label in a dialog">open_in_new</mat-icon>
        </button>
      </p>
    </div>
    <!--Modal-->
    <div class="modal fade" id="labelModal" tabindex="-1" role="dialog"
         aria-labelledby="labelModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nutritionFactsModalLabel">Nutrients</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="nutritionfacts">
              <table width="242" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                  <td align="center" class="header">Nutrition Facts</td>
                </tr>
                <tr>
                  <td>
                    <div class="serving">
                      Per <span class="highlighted">{{product.servingInformation.weightGrams}}gr</span> Serving Size
                    </div>
                  </td>
                </tr>
                <tr style="height: 7px">
                  <td bgcolor="#000000"></td>
                </tr>
                <tr>
                  <td style="font-size: 7pt">
                    <div class="line">Amount Per Serving</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="label">Calories
                        <div class="weight">{{product.macroTotals.calories}}</div>
                      </div>
                      <div style="padding-top: 1px; float: right;" class="labellight">Calories from Fat
                        <div class="weight">0000</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="dvlabel">% Daily Value<sup>*</sup></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="label">Total Fat
                        <div class="weight">{{product.macroTotals.fats}}g</div>
                      </div>
                      <div class="dv">{{getPercentage(totalFat_Grams, product.nutritionFacts.totalFat_Grams)}}%</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="indent">
                    <div class="line">
                      <div class="labellight">Saturated Fat
                        <div class="weight">{{product.nutritionFacts.saturatedFat_Grams}}g</div>
                      </div>
                      <div class="dv">{{getPercentage(saturatedFat_Grams,
                        product.nutritionFacts.saturatedFat_Grams)}}%
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="indent">
                    <div class="line">
                      <div class="labellight"><i>Trans</i> Fat
                        <div class="weight">000g</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="label">Cholesterol
                        <div class="weight">{{product.nutritionFacts.cholesterol_MilliGrams}}mg</div>
                      </div>
                      <div class="dv">{{getPercentage(cholesterol_MilliGrams,
                        product.nutritionFacts.cholesterol_MilliGrams)}}%
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="label">Sodium
                        <div class="weight">{{product.nutritionFacts.sodium_MilliGrams}}mg</div>
                      </div>
                      <div class="dv">{{getPercentage(sodium_MilliGrams, product.nutritionFacts.sodium_MilliGrams)}}%
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="label">Total Carbohydrates
                        <div class="weight">{{product.nutritionFacts.totalCarbohydrate_Grams}}g</div>
                      </div>
                      <div class="dv">{{getPercentage(totalCarbohydrate_Grams,
                        product.nutritionFacts.totalCarbohydrate_Grams)}}%
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="indent">
                    <div class="line">
                      <div class="labellight">Dietary Fiber
                        <div class="weight">{{product.nutritionFacts.dietaryFiber_Grams}}g</div>
                      </div>
                      <div class="dv">{{getPercentage(dietaryFiber_Grams,
                        product.nutritionFacts.dietaryFiber_Grams)}}%
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="indent">
                    <div class="line">
                      <div class="labellight">Sugars
                        <div class="weight">{{product.nutritionFacts.sugars_Grams}}g</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="label">Protein
                        <div class="weight">{{product.nutritionFacts.protein_Grams}}g</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr style="height: 7px">
                  <td bgcolor="#000000"></td>
                </tr>
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" border="0" class="vitamins">
                      <tbody>
                      <tr>
                        <td>Vitamin A &nbsp;&nbsp; {{getPercentage(vitaminA_MicroGrams,
                          product.nutrients.vitaminA_MicroGrams)}}%
                        </td>
                        <td align="center">•</td>
                        <td align="right">Calcium &nbsp;&nbsp; {{getPercentage(calcium_MilliGrams,
                          product.nutrients.calcium_MilliGrams)}}%
                        </td>
                      </tr>
                      <tr>
                        <td>Vitamin B6 &nbsp;&nbsp; {{getPercentage(vitaminB6_MilliGrams,
                          product.nutrients.vitaminB6_MilliGrams)}}%
                        </td>
                        <td align="center">•</td>
                        <td align="right">Iron &nbsp;&nbsp; {{getPercentage(iron_MilliGrams,
                          product.nutrients.iron_MilliGrams)}}%
                        </td>
                      </tr>
                      <tr>
                        <td>Vitamin C &nbsp;&nbsp; {{getPercentage(vitaminC_MilliGrams,
                          product.nutrients.vitaminC_MilliGrams)}}%
                        </td>
                        <td align="center">•</td>
                        <td align="right">Potassium &nbsp;&nbsp; {{getPercentage(potassium_MilliGrams,
                          product.nutritionFacts.potassium_MilliGrams)}}%
                        </td>
                      </tr>
                      <!--<tr>-->
                      <!--<td>Vitamin D2 &nbsp;&nbsp; {{getPercentage(vitaminD2_MicroGrams,-->
                      <!--product.nutrients.)}}%-->
                      <!--</td>-->
                      <!--<td align="center">•</td>-->
                      <!--<td align="right">Folate &nbsp;&nbsp; {{getPercentage(folate_MicroGrams,-->
                      <!--product.nutrients.folate_MicroGrams)}}%-->
                      <!--</td>-->
                      <!--</tr>-->
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="line">
                      <div class="labellight">* Based on a daily 2000 calorie intake, for adults and children 4 or more
                        years of
                        age
                        <br><br><i>Nutritional details are an estimate and should only be used as a guide for
                          approximation.</i>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-3"></div>
              <div class="col-3">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary">Download</button>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

