<div id="user-edit-container">
  <mat-card id="user-edit-card" *ngIf="form">
    <div id="user-edit-header">
      <span mat-dialog-title style="color: #000; margin: 0 !important;">Edit Account</span>
      <fw-header-actions-panel [model]="actions"></fw-header-actions-panel>
    </div>
    <div id="user-edit-content">
      <form [formGroup]="form"
            (ngSubmit)="onSubmit(form)">

        <!--User Main-->
        <mat-card id="user-edit-content-main-card">

          <mat-card-header>
            <mat-card-title class="user-edit-content-section-title">Personal Information</mat-card-title>
          </mat-card-header>

          <div id="user-edit-content-main-card-content">

            <div class="user-edit-main-column">
              <mat-form-field>
                <input matInput id="firstName" placeholder="First Name" formControlName="firstName">
              </mat-form-field>
              <mat-form-field>
                <input matInput id="lastName" placeholder="Last Name" formControlName="lastName">
              </mat-form-field>
              <mat-form-field>
                <input matInput id="userName" placeholder="Username" formControlName="userName">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" id="password" placeholder="Password" formControlName="password">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="email" id="email" placeholder="Email" formControlName="email">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="tel" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
              </mat-form-field>
            </div>

            <div class="user-edit-main-column">
              <div id="user-image">
                <fw-file-image [model]="model.userImage"
                               (onFileDialogFileChanged)="onFileImageFileChanged($event)"
                               [id]="'user-edit-image'">
                </fw-file-image>
              </div>
            </div>
          </div>
        </mat-card>

        <!---->

        <!--<button type="submit" class="btn btn-block btn-primary form-submit-button"-->
        <!--[disabled]="!form.valid">Save Changes-->
        <!--</button>-->
      </form>
    </div>
  </mat-card>
</div>
