<div id="login-card-wrapper">
  <div id="login-card-container">
    <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
      <mat-card id="login-card" class="card-common">
        <mat-card-title id="login-card-title">
          <h5 id="login-title">Login</h5>
          <button id="register-button"
                  type="button"
                  (click)="onRegisterClick()"
                  mat-button color="accent">Register
          </button>
        </mat-card-title>
        <mat-form-field class="form-row">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="form-row">
          <input matInput placeholder="Password" [type]="passwordHide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <div id="login-buttons-area">
          <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Sumbit</button>
          <button id="forgot-pass-button"
                  type="button"
                  (click)="onForgotPasswordClick()"
                  mat-button color="warn">Forgot Password
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</div>
