@import '../../../../../styles/common.less';

.login-wrapper {
  position: relative;
  background-color: rebeccapurple;

  .login-inner{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .login-form {

    background-color: @common-bg-color;

    padding: 15px;

    .login-title {
      font-weight: 400;
      font-size: 24px;

      text-align: center;
    }
  }
}
