<div id="login-card-wrapper">
  <div id="login-card-container">
    <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm">
      <mat-card id="login-card" class="card-common">
        <mat-card-title>
          <h5 id="login-title">Login</h5>
        </mat-card-title>
        <mat-form-field class="form-row">
          <input matInput placeholder="Username" formControlName="email">
        </mat-form-field>
        <mat-form-field class="form-row">
          <input matInput placeholder="Password" [type]="passwordHide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Sumbit</button>
      </mat-card>
    </form>
  </div>
</div>
