hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: none;
}

snack-bar-container {
  background-color: #424242 !important;
}

mat-card-title {
  margin-bottom: 0px !important;
}
