<div [formGroup]="form">
  <div class="form-group-tile">
    <div class="form-group-title"><p>Serving</p></div>
    <div class="row">
      <div class="col-3">
        <div class="form-group" formGroupName="serving">
          <label for="calories">Calories</label>
          <input type="number" step="0.01" class="form-control" id="calories" placeholder="Calories"
                 formControlName="calories">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group" formGroupName="serving">
          <label for="carbohydrate">Carbohydrate</label>
          <input type="number" step="0.01" class="form-control" id="carbohydrate" placeholder="Carbohydrate"
                 formControlName="carbohydrate">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group" formGroupName="serving">
          <label for="protein">Protein</label>
          <input type="number" step="0.01" class="form-control" id="protein" placeholder="Protein"
                 formControlName="protein">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group" formGroupName="serving">
          <label for="fat">Fat</label>
          <input type="number" step="0.01" class="form-control" id="fat" placeholder="Fat"
                 formControlName="fat">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="calcium">Calcium</label>
          <input type="number" step="0.01" class="form-control" id="calcium" placeholder="Calcium"
                 formControlName="calcium">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="cholesterol">Cholesterol</label>
          <input type="number" step="0.01" class="form-control" id="cholesterol" placeholder="Cholesterol"
                 formControlName="cholesterol">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="fiber">Fiber</label>
          <input type="number" step="0.01" class="form-control" id="fiber" placeholder="Fiber"
                 formControlName="fiber">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="iron">Iron</label>
          <input type="number" step="0.01" class="form-control" id="iron" placeholder="Iron"
                 formControlName="iron">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="potassium">Potassium</label>
          <input type="number" step="0.01" class="form-control" id="potassium" placeholder="Potassium"
                 formControlName="potassium">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="sodium">Sodium</label>
          <input type="number" step="0.01" class="form-control" id="sodium" placeholder="Sodium"
                 formControlName="sodium">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="sugar">Sugar</label>
          <input type="number" step="0.01" class="form-control" id="sugar" placeholder="Sugar"
                 formControlName="sugar">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="vitaminA">Vitamin A</label>
          <input type="number" step="1" class="form-control" id="vitaminA" placeholder="Vitamin A"
                 formControlName="vitaminA">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="vitaminC">Vitamin C</label>
          <input type="number" step="1" class="form-control" id="vitaminC" placeholder="Vitamin C"
                 formControlName="vitaminC">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group" formGroupName="serving">
          <label for="monounsaturatedFat">Monosaturated Fat</label>
          <input type="number" step="0.01" class="form-control" id="monounsaturatedFat" placeholder="Monosaturated Fat"
                 formControlName="monounsaturatedFat">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" formGroupName="serving">
          <label for="polyunsaturatedFat">Polyunsaturated Fat</label>
          <input type="number" step="0.01" class="form-control" id="polyunsaturatedFat"
                 placeholder="Polyunsaturated Fat"
                 formControlName="polyunsaturatedFat">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group" formGroupName="serving">
          <label for="saturatedFat">Saturated Fat</label>
          <input type="number" step="0.01" class="form-control" id="saturatedFat"
                 placeholder="Saturated Fat"
                 formControlName="saturatedFat">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" formGroupName="serving">
          <label for="transFat">Trans Fat</label>
          <input type="number" step="0.01" class="form-control" id="transFat"
                 placeholder="Trans Fat"
                 formControlName="transFat">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="metricUnit">Metric unit</label>
          <input type="text" class="form-control" id="metricUnit" placeholder="Metric unit"
                 formControlName="metricUnit">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="metricAmount">Metric amount</label>
          <input type="number" step="0.01" class="form-control" id="metricAmount" placeholder="Metric amount"
                 formControlName="metricAmount">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group" formGroupName="serving">
          <label for="numberOfUnits">Number of units</label>
          <input type="number" step="1" class="form-control" id="numberOfUnits" placeholder="Number of units"
                 formControlName="numberOfUnits">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" formGroupName="serving">
          <label for="measurementDescription">Measurement description</label>
          <textarea class="form-control" id="measurementDescription" placeholder="Measurement description"
                    formControlName="measurementDescription"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" formGroupName="serving">
          <label for="servingDescription">Serving description</label>
          <textarea type="text" class="form-control" id="servingDescription" placeholder="Serving description"
                    formControlName="servingDescription"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" formGroupName="serving">
          <label for="url">URL</label>
          <input type="text" class="form-control" id="url" placeholder="URL"
                 formControlName="url">
        </div>
      </div>
    </div>
  </div>
</div>

