<div id="search-list-item-container">

</div>


<!--<div id="search-list-item-product-image">-->
<!--<img *ngIf="model.productInformation.imageUriThumb"-->
<!--[src]="model.productInformation.imageUriThumb" alt="Image">-->
<!--</div>-->
<!--<div id="search-item-info">-->
<!--<span id="search-result-title">{{model.productInformation.productName}}</span>-->
<!--<span>{{model.servingInformation.quantity}}&nbsp;{{model.servingInformation.unit}}</span>-->
<!--<mat-icon class="search-result-nutr-icon">favorite</mat-icon>-->
<!--<span class="search-result-nutr-text">{{model.nutritionFacts.calories}}</span>-->
<!--<mat-icon class="search-result-nutr-icon">favorite</mat-icon>-->
<!--<span class="search-result-nutr-text">{{model.nutritionFacts.protein_Grams}}</span>-->
<!--<mat-icon class="search-result-nutr-icon">favorite</mat-icon>-->
<!--<span class="search-result-nutr-text">{{model.nutritionFacts.totalCarbohydrate_Grams}}</span>-->
<!--<mat-icon class="search-result-nutr-icon">favorite</mat-icon>-->
<!--<span class="search-result-nutr-text">{{model.nutritionFacts.totalFat_Grams}}</span>-->
<!--<table id="search-item-nutrition-table">-->
<!--<tr>-->
<!--<td class="tb-key">Calories:&nbsp;</td>-->
<!--<td class="tb-value">{{model.macroTotals.calories}}</td>-->
<!--<td class="tb-key">Carbs:&nbsp;</td>-->
<!--<td class="tb-value">{{model.macroTotals.carbohydrates}}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="tb-key">Fats:&nbsp;</td>-->
<!--<td class="tb-value">{{model.macroTotals.fats}}</td>-->
<!--<td class="tb-key">Proteins:&nbsp;</td>-->
<!--<td class="tb-value">{{model.macroTotals.proteins}}</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--<div id="search-item-actions">-->
<!--<fw-header-actions-panel [model]="actions"></fw-header-actions-panel>-->
<!--</div>-->
