<div id="forgot-pass-card-wrapper">
  <div id="forgot-pass-card-container">
    <form (ngSubmit)="onSubmit(forgotPassForm)" [formGroup]="forgotPassForm">
      <mat-card id="forgot-pass-card" class="card-common">
        <mat-card-title id="forgot-pass-card-title">
          <h5 id="forgot-pass-title">Password Reset</h5>
          <button id="login-button"
                  type="button"
                  (click)="onLoginClick()"
                  mat-button color="accent">Login
          </button>
        </mat-card-title>
        <mat-form-field class="form-row">
          <input matInput [(ngModel)]="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!forgotPassForm.valid">Reset</button>
      </mat-card>
    </form>
  </div>
</div>

