<div id="new-pass-card-wrapper">
  <div id="new-pass-card-container">
    <form (ngSubmit)="onSubmit(newPassForm)" [formGroup]="newPassForm">
      <mat-card id="new-pass-card" class="card-common">
        <mat-card-title id="new-pass-card-title">
          <h5 id="new-pass-title">New Password</h5>
        </mat-card-title>
        <span class="single-card-form-message">Please enter the new password.</span>
        <mat-form-field>
          <input matInput [(ngModel)]="model.password" placeholder="Password"
                 [type]="passwordHide ? 'password' : 'text'"
                 formControlName="firstPassword">
          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="secondPassword" placeholder="Confirm Password"
                 [type]="passwordHide ? 'password' : 'text'"
                 formControlName="secondPassword">
          <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' :
            'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!newPassForm.valid">Send
        </button>
      </mat-card>
    </form>
  </div>
</div>
