<div id="resend-email-card-wrapper">
  <div id="resend-email-card-container">
    <form (ngSubmit)="onSubmit(resendEmailForm)" [formGroup]="resendEmailForm">
      <mat-card id="resend-email-card" class="card-common">
        <mat-card-title id="resend-email-card-title">
          <h5 id="resend-email-title">Email Confirmation</h5>
          <button id="register-button"
                  type="button"
                  (click)="onRegisterClick()"
                  mat-button color="accent">Register
          </button>
        </mat-card-title>
        <span class="single-card-form-message">It appears to be that the email you provided has not yet been confirmed. Do you want to send the confirmation email?</span>
        <mat-form-field class="form-row">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!resendEmailForm.valid">Send
        </button>
      </mat-card>
    </form>
  </div>
</div>
